* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    color: #757575;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

.header > {
    margin: 0;
}

.header > .nav {
    text-align: center;
}

.header > .nav > .nav-ul > .nav-li {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    padding: 1em;
    transition: all 0.5s linear;
}

.header > .nav > .nav-ul > .nav-li > .nav-a {
    color: #757575;
    text-decoration: none;
}

.header > .nav > .nav-ul > .nav-li.active {
    background: #CFD8DC;
}

.header > .nav > .nav-ul > .nav-li:hover {
    background: #CFD8DC;
}

.header > .nav > .nav-ul > .nav-li.active > .nav-a {
    color:#009688;
}

.header > .nav > .nav-ul > .nav-li:hover > .nav-a{
    color: #009688;
}

.header > .headerimg {
    margin-top: -1em;
}

.header > .headerimg > .tittleimage {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/viewport-image.png);
    height: 100vh;
}

.header > .headerimg> .tittle {
    color: #009688;
    font-size: 5em;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    z-index: 1;
}